In [1]:
import pandas as pd
import numpy as np

In [2]:
SLIK = pd.read_csv(r"D:\Job Seeking\Test\Jago\Data\Technical Test Dataset - result_processed.csv")

In [3]:
SLIK

,ktp,kreditId,posisiDataTerakhir,ljk,ljkJenis,ljkKet,bakiDebet,tanggalUpdate,sifatKredit,sifatKreditKet,...,tahunBulan23Kol,tahunBulan23Ht,tahunBulan24,tahunBulan24Kol,tahunBulan24Ht,akadPembiayaan,kategoriDebiturKode,jenisPenggunaanKet,jenisAgunan,tenor
0,3174050915810020,3174050915810020_1_5,202310,513,Bank,PT Bank Ina Perdana Tbk,0.0,1/20/2021,9,0.0,...,1.0,0.0,201901,1.0,0.0,X-00,X-99,Konsumsi,NaN,244.0
1,3173020906690260,3173020906690265_1_3,202310,513,Bank,PT Bank Ina Perdana Tbk,0.0,06/05/2021,9,0.0,...,1.0,0.0,201906,1.0,0.0,X-00,X-99,Konsumsi,NaN,204.0
2,3174050915810020,3174050915810020_1_3,202310,513,Bank,PT Bank Ina Perdana Tbk,0.0,6/14/2021,9,0.0,...,1.0,0.0,201906,1.0,0.0,X-00,X-99,Konsumsi,NaN,192.0
3,3273191002950830,3273191002950830_1_3,202310,157,Bank,PT Bank Maspion Indonesia Tbk,0.0,06/12/2023,9,0.0,...,NaN,NaN,202106,NaN,NaN,0,NU,Konsumsi,NaN,186.0
4,3316060721020390,3316060721020394_1_85,202310,157,Bank,PT Bank Maspion Indonesia Tbk,0.0,8/15/2023,9,0.0,...,NaN,NaN,202108,NaN,NaN,0,NU,Konsumsi,NaN,183.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14655,3604020701010460,3604020701010465_1_28,202310,128,Bank,PT BPD NTB,0.0,2/20/2021,9,0.0,...,NaN,NaN,201902,NaN,NaN,X-00,X-10,Konsumsi,NaN,1.0
14656,3273030308840590,3273030308840593_1_38,202310,620123,BPR,PT BPRS Barakah Nawaitul Ikhlas,0.0,11/13/2019,9,0.0,...,NaN,NaN,201711,NaN,NaN,X-00,X-99,Konsumsi,NaN,1.0
14657,5108021007910330,5108021007910334_1_5,202310,620123,BPR,PT BPRS Barakah Nawaitul Ikhlas,0.0,02/09/2020,9,0.0,...,NaN,NaN,201802,NaN,NaN,X-00,X-99,Konsumsi,NaN,1.0
14658,3276080908980950,3276080908980952_1_82,202310,128,Bank,PT BPD NTB,0.0,2/24/2021,9,0.0,...,NaN,NaN,201902,NaN,NaN,X-00,X-10,Konsumsi,NaN,1.0
14659,3374110429900040,3374110429900044_1_3,202310,601805,BPR,PT. BPR Danatama Indonesia,0.0,11/03/2017,9,0.0,...,NaN,NaN,201511,NaN,NaN,X-01,X-99,Konsumsi,NaN,11.0

In [4]:
ym = [202310,202309,202308,202307,202306,202305,202304,202303,202302,202301,
      202212,202211,202210,202209,202208,202207,202206,202205,202204,202203,
      202202,202201,202112,202111]
ym_cols = ['tahunBulan01','tahunBulan02','tahunBulan03','tahunBulan04','tahunBulan05','tahunBulan06',
          'tahunBulan07','tahunBulan08','tahunBulan09','tahunBulan10','tahunBulan11','tahunBulan12',
          'tahunBulan13','tahunBulan14','tahunBulan15','tahunBulan16','tahunBulan17','tahunBulan18',
          'tahunBulan19','tahunBulan20','tahunBulan21','tahunBulan22','tahunBulan23','tahunBulan24']
ym_col_cols = ['tahunBulan01Kol','tahunBulan02Kol','tahunBulan03Kol','tahunBulan04Kol','tahunBulan05Kol','tahunBulan06Kol',
          'tahunBulan07Kol','tahunBulan08Kol','tahunBulan09Kol','tahunBulan10Kol','tahunBulan11Kol','tahunBulan12Kol',
          'tahunBulan13Kol','tahunBulan14Kol','tahunBulan15Kol','tahunBulan16Kol','tahunBulan17Kol','tahunBulan18Kol',
          'tahunBulan19Kol','tahunBulan20Kol','tahunBulan21Kol','tahunBulan22Kol','tahunBulan23Kol','tahunBulan24Kol']
ym_ht_cols = ['tahunBulan01Ht','tahunBulan02Ht','tahunBulan03Ht','tahunBulan04Ht','tahunBulan05Ht','tahunBulan06Ht',
          'tahunBulan07Ht','tahunBulan08Ht','tahunBulan09Ht','tahunBulan10Ht','tahunBulan11Ht','tahunBulan12Ht',
          'tahunBulan13Ht','tahunBulan14Ht','tahunBulan15Ht','tahunBulan16Ht','tahunBulan17Ht','tahunBulan18Ht',
          'tahunBulan19Ht','tahunBulan20Ht','tahunBulan21Ht','tahunBulan22Ht','tahunBulan23Ht','tahunBulan24Ht']

# initialize new cols
for i in ym:
  SLIK[f'Kol_{i}'] = ''
  SLIK[f'Ht_{i}'] = ''

In [5]:
SLIK.columns

Index(['ktp', 'kreditId', 'posisiDataTerakhir', 'ljk', 'ljkJenis', 'ljkKet',
       'bakiDebet', 'tanggalUpdate', 'sifatKredit', 'sifatKreditKet',
       ...
       'Kol_202203', 'Ht_202203', 'Kol_202202', 'Ht_202202', 'Kol_202201',
       'Ht_202201', 'Kol_202112', 'Ht_202112', 'Kol_202111', 'Ht_202111'],
      dtype='object', length=156)

In [6]:
# value for new cols
for i in list(SLIK.index):
  for j in range(len(ym)):
    yearMonth = ym[j]
    try:
       idx = list(SLIK.loc[i,ym_cols]).index(yearMonth)
       SLIK.loc[i,f'Kol_{yearMonth}'] = SLIK.loc[i,ym_col_cols[idx]]
       SLIK.loc[i,f'Ht_{yearMonth}'] = SLIK.loc[i,ym_ht_cols[idx]]
    except:
      pass

    # for k in range(len(ym)):
    #   ym_col = ym_cols[k]
    #   ym_kol = ym_col_cols[k]
    #   ym_ht = ym_ht_cols[k]
    #   SLIK.loc[i,f'Kol_{yearMonth}'] = SLIK.loc[i,ym_kol] if SLIK.loc[i,ym_col]==yearMonth else 0
    #   SLIK.loc[i,f'Ht_{yearMonth}'] = SLIK.loc[i,ym_ht] if SLIK.loc[i,ym_col]==yearMonth else 0

In [7]:
SLIK.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14660 entries, 0 to 14659
Columns: 156 entries, ktp to Ht_202111
dtypes: float64(59), int64(32), object(65)
memory usage: 17.4+ MB

In [8]:
SLIK.to_csv(r"D:\Job Seeking\Test\Jago\Data\Technical Test Dataset - result_revKolHT.csv", index=False)